body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    margin:0px;
    padding:0px;
    overflow: hidden;
}

.mainGame{
    height: 100vh;
    width: 100vw;
}

.btnStart{
    height: 10vh;
    width: 100vw;
    font-size: 30px;
}

#divDrag{
    background: #FF4444;
}

.veg{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #00FF66;
}